[Unit]
Description=Thunderbird calendar sync (NuShell)
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=%h/.local/bin/tb_sync.nu
TimeoutSec=120
Restart=no
StandardOutput=journal
StandardError=journal
