[Desktop Entry]
Type=Application
Name=Zen Browser
Comment=Experience tranquillity while browsing the web without people tracking you!
Exec=/home/marijn/.local/bin/zen-nvidia %u
Icon=/opt/zen-browser-bin/browser/chrome/icons/default/default64.png
Terminal=false
NoDisplay=false
StartupNotify=true
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;application/x-xpinstall;application/pdf;application/json;
Keywords=Internet;WWW;Browser;Web;Explorer;
Actions=new-window;new-private-window;profilemanager;
StartupWMClass=zen
X-MultipleArgs=false
