@import "/home/marijn/.local/share/omarchy/default/walker/themes/omarchy-default/style.css";
@import "/home/marijn/.config/omarchy/current/theme/waybar.css";

.box-wrapper {
    border-radius: 10px;
    border-width: 2.5px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}
